.video-background iframe,
.video-foreground {
  pointer-events: none
}

/* 
  Source:
  https://stackoverflow.com/questions/24579785/force-iframe-youtube-video-to-center-fit-and-full-cover-the-screen-in-the-backgr
  */
.video-background iframe,
.video-foreground {
  pointer-events: none
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1
}

.video-background iframe,
.video-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
      height:300%;
      top: -100%
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
      width:300%;
      left: -100%
  }
}