.art-svg {
    transform-origin: 50% 50%;
}

.sun {
    animation: anim1 3s infinite ease-in-out;
}

.sun-contour {
    animation: anim2 3s infinite ease-in-out;
}

.hill-contour {
    animation: anim3 3s infinite ease-in-out;
}

.hill-details {
    animation: anim3 3s infinite ease-in-out;
}

@keyframes anim1 {
    0% {
        transform: translate(-1%);
    }
    50% {
        transform: translate(1%);
    }
    100% {
        transform: translate(-1%);
    }
}

@keyframes anim2 {
    0% {
        transform: translate(-2%);
    }
    50% {
        transform: translate(2%);
    }
    100% {
        transform: translate(-2%);
    }
}

@keyframes anim3 {
    0% {
        transform: translate(-3%);
    }
    50% {
        transform: translate(3%);
    }
    100% {
        transform: translate(-3%);
    }
}

@keyframes anim4 {
    0% {
        transform: translate(-5%);
    }
    50% {
        transform: translate(5%);
    }
    100% {
        transform: translate(-5%);
    }
}